@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 214 60% 14%;
    --card: 210 40% 97%;
    --card-foreground: 214 60% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 214 60% 14%;
    --primary: 214 60% 14%;
    --primary-foreground: 0 0% 100%;
    --secondary: 34 93% 54%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 30% 95%;
    --muted-foreground: 214 20% 40%;
    --accent: 34 93% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 20% 88%;
    --input: 214 20% 88%;
    --ring: 34 93% 54%;
    --chart-1: 34 93% 54%;
    --chart-2: 214 60% 14%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

wistia-player[media-id="a2k3dmo2jc"]:not(:defined) {
  background: center / contain no-repeat
    url("https://fast.wistia.com/embed/medias/a2k3dmo2jc/swatch");
  display: block;
  filter: blur(5px);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
